<li class="nav-dropdown-container resources">
  <a href="#" class="nav-link">Ռեսուրսներ</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("/resources/partners.html") %>" class="nav-link">Գործընկերներ</a></li>
    <li><a href="<%- url_for("/resources/themes.html") %>" class="nav-link">Ոճի Թեմաներ</a></li>
    <li><a href="https://github.com/vuejs/awesome-vue" class="nav-link" target="_blank" rel="noopener">Հիանալի Vue</a></li>
    <li><a href="https://awesomejs.dev/for/vue/" class="nav-link" target="_blank" rel="noopener">Դիտել Vue-ի Փաթեթները</a></li>
  </ul>
</li>
